.gif {
    position: relative;
}

.gif-title {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 4px;
    color: #fff;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.gif-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}